In [1]:
#import dependencies
import pandas as pd

In [17]:
#determine the file path
file_name = 'HeroesOfPymoli/purchase_data.json'
file_name2 = 'HeroesOfPymoli/purchase_data2.json'

In [18]:
#open the file
purchase_data_df = pd.read_json(file_name)
purchase_data2_df = pd.read_json(file_name2)
purchase_data2_df.head()

   Age Gender  Item ID                 Item Name  Price          SN
0   20   Male       93  Apocalyptic Battlescythe   4.49     Iloni35
1   21   Male       12                     Dawne   3.36   Aidaira26
2   17   Male        5                Putrid Fan   2.63      Irim47
3   17   Male      123         Twilight's Carver   2.55     Irith83
4   22   Male      154              Feral Katana   4.11  Philodil43

# Total Number of Players

In [25]:
#count the total number of players
players1 = purchase_data_df['SN'].unique()
players2 = purchase_data2_df['SN'].unique()
number_of_players = pd.DataFrame({'Players Count': [len(players1),len(players2)]})
number_of_players

   Players Count
0            573
1             74

# Purchasing Analysis (Total)

In [65]:
#Purchasing Analysis (Total): number of unique items, average purchase price, total number of purchases, total revenue
#purchase_data_df - purchasing analysis
unique_items1 = len(purchase_data_df['Item ID'].unique())
avg_price1 = (purchase_data_df['Price'].sum()/purchase_data_df['Price'].count()).round(2)
total_purchases1 = purchase_data_df['Price'].count()
total_revenue1 = purchase_data_df["Price"].sum()
                    
#purchase_data2_df - purchasing analysis
unique_items2 = len(purchase_data2_df['Item ID'].unique())
avg_price2 = (purchase_data2_df['Price'].sum()/purchase_data2_df['Price'].count()).round(2)
total_purchases2 = purchase_data2_df['Price'].count()
total_revenue2 = purchase_data2_df["Price"].sum()



Purchasing_analysis_df = pd.DataFrame({"Number of Unique Items":[unique_items1, unique_items2],
                                       "Average Purchase Price":[avg_price1, avg_price2],
                                       "Total Number of Purchases":[total_purchases1, total_purchases2],
                                       "Total Revenue":[total_revenue1, total_revenue2]})
Purchasing_analysis_df

,Average Purchase Price,Number of Unique Items,Total Number of Purchases,Total Revenue
0,2.93,183,780,2286.33
1,2.92,64,78,228.10

# Gender Demographics

In [72]:
#determination of gender demographics: % and count of male players, % and count of female players, % and count of others
#creating a gender demographic table for each data set

#purchase_data_df demographic informations
full_count1 = len(players1)
male_count1 = len(purchase_data_df[purchase_data_df['Gender']=='Male']['SN'].unique())
female_count1 = len(purchase_data_df[purchase_data_df['Gender']=='Female']['SN'].unique())
other_count1 = full_count1 - male_count1 - female_count1

percent_male1 = (male_count1 / full_count1)*100
percent_female1 = (female_count1 / full_count1)*100
percent_other1 = (other_count1 / full_count1)*100

#purchase_data2_df demographic informations
full_count2 = len(players2)
male_count2 = len(purchase_data2_df[purchase_data2_df['Gender']=='Male']['SN'].unique())
female_count2 = len(purchase_data2_df[purchase_data2_df['Gender']=='Female']['SN'].unique())
other_count2 = full_count2 - male_count2 - female_count2

percent_male2 = (male_count2 / full_count2)*100
percent_female2 = (female_count2 / full_count2)*100
percent_other2 = (other_count2 / full_count2)*100

#creating a dataframe to store all information
Gender_Demographic_df = pd.DataFrame({"Data_Set" : ["Purchase_Data_1", "Purchase_Data_2"], 
                                       "Male Count" : [male_count1, male_count2], 
                                       "Female Count" : [female_count1,female_count2], 
                                       "Other_Count" : [other_count1, other_count1],
                                      "Male %" : ['{:.2f}%'.format(percent_male1), '{:.2f}%'.format(percent_male2)],
                                      "Female %" : ['{:.2f}%'.format(percent_female1), '{:.2f}'.format(percent_female2)],
                                      "Other %" : ['{:.2f}%'.format(percent_other1), '{:.2f}'.format(percent_other2)]})
Gender_Demographic_df

,Data_Set,Female %,Female Count,Male %,Male Count,Other %,Other_Count
0,Purchase_Data_1,17.45%,100,81.15%,465,1.40%,8
1,Purchase_Data_2,17.57%,13,81.08%,60,1.35%,8

# Purchasing Analysis (Gender)

In [69]:
#determing a purchasing analysis per gender with the following information: Purchase Count, Average Purchase Price, Total Purchase Value, Normalized Totals
#purchase_data_df - purchasing analysis
male_purchase_count1 = purchase_data_df[purchase_data_df['Gender']=='Male']['Price'].count() 
female_purchase_count1 = purchase_data_df[purchase_data_df['Gender']=='Female']['Price'].count() 
other_purchase_count1 = total_purchases1 - male_purchase_count1 - female_purchase_count1

male_priceavg1 = purchase_data_df[purchase_data_df["Gender"] == "Male"]['Price'].mean()
female_priceavg1 = purchase_data_df[purchase_data_df["Gender"] == "Female"]['Price'].mean()
other_priceavg1 = purchase_data_df[purchase_data_df["Gender"] == "Other / Non-Disclosed"]['Price'].mean()

male_pricetotal1 = purchase_data_df[purchase_data_df["Gender"] == "Male"]['Price'].sum()
female_pricetotal1 = purchase_data_df[purchase_data_df["Gender"] == "Female"]['Price'].sum()
other_pricetotal1 = purchase_data_df[purchase_data_df["Gender"] == "Other / Non-Disclosed"]['Price'].sum()

male_norm1 = male_pricetotal1/male_purchase_count1
female_norm1 = female_pricetotal1/female_purchase_count1
other_norm1 = other_pricetotal1/other_purchase_count1

#purchase_data2_df - purchasing analysis
male_purchase_count2 = purchase_data2_df[purchase_data2_df['Gender']=='Male']['Price'].count() 
female_purchase_count2 = purchase_data2_df[purchase_data2_df['Gender']=='Female']['Price'].count() 
other_purchase_count2 = total_purchases2 - male_purchase_count2 - female_purchase_count2

male_priceavg2 = purchase_data2_df[purchase_data2_df["Gender"] == "Male"]['Price'].mean()
female_priceavg2 = purchase_data2_df[purchase_data2_df["Gender"] == "Female"]['Price'].mean()
other_priceavg2 = purchase_data2_df[purchase_data2_df["Gender"] == "Other / Non-Disclosed"]['Price'].mean()

male_pricetotal2 = purchase_data2_df[purchase_data2_df["Gender"] == "Male"]['Price'].sum()
female_pricetotal2 = purchase_data2_df[purchase_data2_df["Gender"] == "Female"]['Price'].sum()
other_pricetotal2 = purchase_data2_df[purchase_data2_df["Gender"] == "Other / Non-Disclosed"]['Price'].sum()

male_norm2 = male_pricetotal2/male_purchase_count2
female_norm2 = female_pricetotal2/female_purchase_count2
other_norm2 = other_pricetotal2/other_purchase_count2

#creating a dataframe to store all information
Purchase_Analysis_Gender_df = pd.DataFrame({