# Step 1 - Data Engineering

In [1]:
#import dependencies
import pandas as pd
import os

In [2]:
#determine the file to import
file1 = 'Resources/hawaii_measurements.csv'
file2 = 'Resources/hawaii_stations.csv'

In [9]:
#importing file 1 into a Dataframe
HI_measurement_df = pd.read_csv(file1)
print(HI_measurement_df.head())
print(HI_measurement_df.info())

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
station    19550 non-null object
date       19550 non-null object
prcp       18103 non-null float64
tobs       19550 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 611.0+ KB
None

In [10]:
#importing file 2 into a Dataframe
HI_stations_df = pd.read_csv(file2)
print(HI_stations_df.head)
print(HI_stations_df.info())

<bound method NDFrame.head of        station                                    name  latitude  longitude  \
0  USC00519397                    WAIKIKI 717.2, HI US  21.27160 -157.81680
1  USC00513117                    KANEOHE 838.1, HI US  21.42340 -157.80150
2  USC00514830  KUALOA RANCH HEADQUARTERS 886.9, HI US  21.52130 -157.83740
3  USC00517948                       PEARL CITY, HI US  21.39340 -157.97510
4  USC00518838              UPPER WAHIAWA 874.3, HI US  21.49920 -158.01110
5  USC00519523      WAIMANALO EXPERIMENTAL FARM, HI US  21.33556 -157.71139
6  USC00519281                     WAIHEE 837.5, HI US  21.45167 -157.84889
7  USC00511918       HONOLULU OBSERVATORY 702.2, HI US  21.31520 -157.99920
8  USC00516128            MANOA LYON ARBO 785.2, HI US  21.33310 -157.80250

   elevation
0        3.0
1       14.6
2        7.0
3       11.9
4      306.6
5       19.5
6       32.9
7        0.9
8      152.4  >
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 5 columns):
station      9 non-null object
name         9 non-null object
latitude     9 non-null float64
longitude    9 non-null float64
elevation    9 non-null float64
dtypes: float64(3), object(2)
memory usage: 440.0+ bytes
None

I did not clean up the second file as there were no NaN columns

In [8]:
#decided to fill NAN values with 0 in the measurement file 
HI_measurement_clean_df = HI_measurement_df.copy()
HI_measurement_clean_df.fillna(0, inplace=True)
HI_measurement_clean_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73

In [7]:
#exporting the cleaned file from Nan
HI_measurement_clean_df.to_csv('Resources/hawaii_measurements_clean.csv')
HI_stations_df.to_csv('Resources/hawaii_stations_clean.csv')